a{
  
  margin:5px;
}

.button{
  margin-top: 10px;
 
 }

.card {
  
  height:80%;
  max-width: 80%;
  margin-top:50px;
  margin-bottom: 30px;
  padding:50px;
  border-radius: 30px;
  float:left;
  
 

  }

  .card-title{
    margin-top: 10px;
  }


  .card-body img {
    max-width:100%;
    margin:10px;
    
  }

  
  

  



  
  








  
  

 

  
  
