.footer {
  
    position: relative;
    width: 100%;
    margin-bottom: -200px;
    background: #151515;
    text-align: center;

  }
  
  .footer span {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #151515;
    color: rgb(181, 175, 175);
    
  }
  