.footer {
  
    position: absolute;
    width: 100%;
    margin-bottom: -200px;
    margin-top: 200px;
    background: #151515;
    text-align: center;
    padding: 5px;

  }
  
  .footer span {
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px;
    background: #151515;
    color: rgb(181, 175, 175);
    
  }
  